*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

.column2 a {
	color: white !important;
}

.column2 a:hover {
	text-shadow: #8a0303 1px 0 10px,#8a0303 1px 0 10px,#8a0303 1px 0 10px, #8a0303 1px 0 10px;
}

.dracula {
        background: url("../images/dracula.jpg") no-repeat;
		background-size: cover;		
}

.dracula:hover {
        background: url("../images/dracula2.jpg") no-repeat;
		background-size: cover;
}

.frank {
        background: url("../images/frank.jpg") no-repeat;
		background-size: cover;
}

.frank:hover {
        background: url("../images/frank2.jpg") no-repeat;
		background-size: cover;
}

.invisibleMan {
        background: url("../images/invisibleman.png") no-repeat;
		background-size: cover;
}

.invisibleMan:hover {
        background: url("../images/invisibleman.jpg") no-repeat;
		background-size: cover;
}


.wolfman {
        background: url("../images/wolfman2.jpg") no-repeat;
		background-size: cover;
}

.wolfman:hover {
        background: url("../images/wolfman.jpg") no-repeat;
		background-size: cover;
}

.horror {
	text-shadow: #8a0303 1px 0 10px, #8a0303 1px 0 10px, #8a0303 1px 0 10px, #8a0303 1px 0 10px, #8a0303 1px 0 10px, #8a0303 1px 0 10px, #8a0303 1px 0 10px;
}

.arrow {
	display: block;
	width: 45px;
}

article {
	background:url("../images/footer.png") no-repeat;
	background-position: bottom;
	
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#fcfcfc;
	background-color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	/* background-image: url(../images/aircooled.png); */
}

/* Hyperlink Styles: */

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
	border-radius: 10%;
}

/* Headings: */

h1,h2,h3{
	font-family:Serif,"Myriad Pro","Helvetica Neue",Helvetica,Arial;
	text-shadow:0 1px 1px black;
}

h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
	margin: 0.5em 0em 0.1em 0em;
}

h3{
	/* The slogan text */
	font-family:Sans-Serif,forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
.go_up {
	float: right; 
	padding-right: 15px;  
}
p{
	line-height:1.5em;
	padding-bottom:1em;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#15242a;	
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	background:url(../images/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	position:absolute;
	right:0;
	top:2.1em;
	
	border:1px solid #FCFCFC;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	padding:13px 10px 9px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#000000;
	color: white;
	text-shadow: #8a0303 1px 0 10px,#8a0303 1px 0 10px,#8a0303 1px 0 10px, #8a0303 1px 0 10px;
}

nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:1100px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#636363;
	margin:3em 0 5em 0;
	padding:20px 20px 80px 20px;	
	text-shadow:0 2px 0 black;
}

figure{
	border:3px solid #142830;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
	border-radius: 10%;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:#8a0303 1px 0 10px, #8a0303 1px 0 10px;
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}


footer p{
	margin-bottom:-2.5em;
	position:relative;
}

footer a,footer a:visited{
	color:#ffffff;
	padding:2px 4px;
	font-size: 1.5em;
}

footer a:hover{
	text-decoration:none;
	text-shadow: #8a0303 1px 0 10px,#8a0303 1px 0 10px,#8a0303 1px 0 10px, #8a0303 1px 0 10px;
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}
